body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
    margin: 0;
}

header {
    background-color: #006666;
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

h2 {
    color: #006666;
}

img {
    width: 500px;
    max-width: 100%;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

p {
    font-size: 17px;
    line-height: 1.6;
}

a {
    color: #006666;
    font-weight: bold;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}

.ponto {
    text-align: center;
    margin-bottom: 30px;
}

.ponto img {
    width: 500px;
}